[submodule "manager/KernelSU"]
	path = manager/KernelSU
	url = https://github.com/tiann/KernelSU.git
	branch = main
[submodule "manager/KernelSU-Next"]
	path = manager/KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next
	branch = dev
[submodule "manager/KSUN-Susfs-Hookless"]
	path = manager/KSUN-Susfs-Hookless
	url = https://github.com/heryts/KSUN
	branch = susfs+nomount-hookless
[submodule "manager/KowSU"]
	path = manager/KowSU
	url = https://github.com/KOWX712/KernelSU.git
	branch = master
[submodule "manager/KernelSU-Backslashxx"]
	path = manager/KernelSU-Backslashxx
	url = https://github.com/backslashxx/KernelSU.git
	branch = master
[submodule "manager/ResukiSU"]
	path = manager/ResukiSU
	url = https://github.com/ReSukiSU/ReSukiSU.git
	branch = main
[submodule "manager/Wild_KSU"]
	path = manager/Wild_KSU
	url = https://github.com/WildKernels/Wild_KSU.git
	branch = dev
[submodule "manager/Rissu"]
	path = manager/Rissu
	url = https://github.com/rsuntk/KernelSU.git
	branch = main
